<!--{subtemplate baby/head}-->
<!--personalcenter-->
<!--{subtemplate babyCenter/left}-->
<div class="sctn20_1_2">
<div class="sctn20_1_2_2">
<div class="sctn20_1_2_2_2" id="zhiyuanzhesousuo">
<p style="width:300px;margin:auto;font-size:14px;"><span style="color:#5daa0e">第一步 选择照片上传</span> > 第二步 裁剪照片 > 完成</p><br/>
    <form action="babyCenter.php?mod=profile&action=avatar&step=1" target="show"  method="POST" enctype="multipart/form-data">
    <table  style="width:740px; float:right; margin-top:20px;">
    <tr style="font-size:14px;color:#656565;height:35px;line-height:35px;">
    <td style="text-align:right;">上传照片：</td>
    <td><input type="file" name="photo" /></td>
    </tr>
    <tr style="font-size:14px;color:#656565;height:35px;line-height:35px;">
    <td style="text-align:right;"></td>
    <td><input  type="submit" value=" 上 传 " class="sctn21_1_3_1" /> <input type="hidden" value="$id" name="id"/></td>
    </tr> 
    </table>
    
    </form>
</div>
</div> 
</div>

<div style="clear: both;"></div>
</div>
<!--{subtemplate baby/foot}-->