
<!--{if $result['birth_day']!=""}--><tr><td><b class="lbt">年龄范围：</b>$result['birth_day']</td><td></td></tr><!--{/if}-->

<!--{if $result['lost_height']!=""}--><tr><td><b class="lbt">儿童身高：</b>$result['lost_height']</td><td></td></tr><!--{/if}-->
<!--{if $result['lost_day']!=""}--><tr><td><b class="lbt">发现时间：</b>$result['lost_day']</td><td></td></tr><!--{/if}-->


<!--{if $result['lost_address']!=""}--><tr><td colspan="2"><b class="lbt">发现地点： </b>$result['lost_address']</td><td></td></tr><!--{/if}-->
<!--{if $result['birth_address']!=""}--><tr><td colspan="2"><b class="lbt">发现详细地点： </b>$result['birth_address']</td><td></td></tr><!--{/if}--> 

<!--{if $result['lost_person_feature']!=""}--><tr><td colspan="2"><b class="lbt">儿童特征描述： </b>$result['lost_person_feature']</td><td></td></tr><!--{/if}--> 

<!--{if $result['other_intro']!=""}--><tr><td colspan="2"><b class="lbt">发现经过： </b>$result['other_intro']</td><td></td></tr><!--{/if}-->

<!--{if $result['contact_name']!=""}--><tr><td><b class="lbt">联系人姓名：</b>$result['contact_name']</td><td></td></tr><!--{/if}-->
<!--{if $result['contact_relation']!=""}--><tr><td><b class="lbt">联系人与失踪人关系：</b>$result['contact_relation']</td><td></td></tr><!--{/if}-->
<!--{if $result['write_relation']!=""}--><tr><td><b class="lbt">填写人与失踪人关系：</b>$result['write_relation']</td><td></td></tr><!--{/if}-->
<!--{if $result['moblie']!=""}--><tr><td><b class="lbt">手机：</b>$result['moblie']</td><td></td></tr><!--{/if}-->
<!--{if $result['tel']!=""}--><tr><td><b class="lbt">电话：</b>$result['tel']</td><td></td></tr><!--{/if}-->
<!--{if $result['email']!=""}--><tr><td><b class="lbt">邮箱：</b>$result['email']</td><td></td></tr><!--{/if}-->
<!--{if $result['qq']!=""}--><tr><td><b class="lbt">qq：</b>$result['qq']</td><td></td></tr><!--{/if}-->
<!--{if $result['address']!=""}--><tr><td colspan="2"><b class="lbt">地址：</b>$result['address']</td><td></td></tr><!--{/if}-->
<!--{if $result['other_contact']!=""}--><tr><td colspan="2"><b class="lbt">其他联系方式：</b>$result['other_contact']</td><td></td></tr><!--{/if}-->