
<!--{if $result['birth_day']!=""}--><tr><td><b class="lbt">出生日期：</b>$result['birth_day']</td><td></td></tr><!--{/if}-->
<!--{if $result['lost_height']!=""}--><tr><td><b class="lbt">失踪时身高：</b>$result['lost_height']</td><td></td></tr><!--{/if}-->
<!--{if $result['lost_day']!=""}--><tr><td><b class="lbt">失踪日期：</b>$result['lost_day']</td><td></td></tr><!--{/if}-->
<!--{if $result['request_org']!=""}--><tr><td colspan="2"><b class="lbt">收养机构名称：</b>$result['request_org']</td><td></td></tr><!--{/if}-->
<!--{if $result['request_day']!=""}--><tr><td><b class="lbt">接收日期：</b>$result['request_day']</td><td></td></tr><!--{/if}-->
<!--{if $result['request_day_2']!=""}--><tr><td><b class="lbt">收养家庭领养日期：</b>$result['request_day_2']</td><td></td></tr><!--{/if}-->
<!--{if $result['now_address']!=""}--><tr><td colspan="2"><b class="lbt">(国外地址)寻家人目前所在地：</b>$result['now_address']</td><td></td></tr><!--{/if}-->
<!--{if $result['is_take_blood']!=""}--><tr><td><b class="lbt">是否采血：</b>$result['is_take_blood']</td><td></td></tr><!--{/if}-->
<!--{if $result['blood_address']!=""}--><tr><td colspan="2"><b class="lbt">采血地点：</b>$result['blood_address']</td><td></td></tr><!--{/if}-->
<!--{if $result['blood_time']!=""}--><tr><td><b class="lbt">采血时间：</b>$result['blood_time']</td><td></td></tr><!--{/if}-->
<!--{if $result['blood_is_add']!=""}--><tr><td><b class="lbt">DNA是否入全国打拐数据库：</b>$result['blood_is_add']</td><td></td></tr><!--{/if}-->


<!--{if $result['lost_address_2']!=""}--><tr><td colspan="2"><b class="lbt">寻家人失踪地点： </b>$result['lost_address_2']</td><td></td></tr><!--{/if}--> 
<!--{if $result['lost_address']!=""}--><tr><td colspan="2"><b class="lbt">寻家人失踪详细地点： </b>$result['lost_address']</td><td></td></tr><!--{/if}-->

<!--{if $result['lost_person_feature']!=""}--><tr><td colspan="2"><b class="lbt">失踪人特征描述： </b>$result['lost_person_feature']</td><td></td></tr><!--{/if}--> 
<!--{if $result['lost_intro']!=""}--><tr><td colspan="2"><b class="lbt">寻家人失踪前记忆： </b>$result['lost_intro']</td><td></td></tr><!--{/if}-->
<!--{if $result['other_intro']!=""}--><tr><td colspan="2"><b class="lbt">其他资料： </b>$result['other_intro']</td><td></td></tr><!--{/if}-->

<!--{if $result['contact_name']!=""}--><tr><td><b class="lbt">境外委托人姓名：</b>$result['contact_name']</td><td></td></tr><!--{/if}-->
<!--{if $result['contact_relation']!=""}--><tr><td colspan="2"><b class="lbt">境外委托人与寻家人关系：</b>$result['contact_relation']</td><td></td></tr><!--{/if}-->
<!--{if $result['contact_name_2']!=""}--><tr><td><b class="lbt">境内委托联系人姓名：</b>$result['contact_name_2']</td><td></td></tr><!--{/if}-->

<!--{if $result['write_relation']!=""}--><tr><td colspan="2"><b class="lbt">填写人与失踪人关系：</b>$result['write_relation']</td><td></td></tr><!--{/if}-->

<!--{if $result['moblie']!=""}--><tr><td><b class="lbt">手机1：</b>$result['moblie']</td><td></td></tr><!--{/if}-->
<!--{if $result['moblie_2']!=""}--><tr><td><b class="lbt">手机2：</b>$result['moblie_2']</td><td></td></tr><!--{/if}-->
<!--{if $result['tel']!=""}--><tr><td><b class="lbt">电话1：</b>$result['tel']</td><td></td></tr><!--{/if}-->
<!--{if $result['tel_2']!=""}--><tr><td><b class="lbt">电话2：</b>$result['tel_2']</td><td></td></tr><!--{/if}-->
<!--{if $result['email']!=""}--><tr><td><b class="lbt">邮箱：</b>$result['email']</td><td></td></tr><!--{/if}-->
<!--{if $result['qq']!=""}--><tr><td><b class="lbt">qq：</b>$result['qq']</td><td></td></tr><!--{/if}-->
<!--{if $result['address']!=""}--><tr><td colspan="2"><b class="lbt">地址：</b>$result['address']</td><td></td></tr><!--{/if}-->
<!--{if $result['other_contact']!=""}--><tr><td colspan="2"><b class="lbt">其他联系方式：</b>$result['other_contact']</td><td></td></tr><!--{/if}-->
<!--{if $result['file_1']!=""}--><tr><td><b class="lbt">收养证明：</b><!--{if !empty($result['file_1'])}--><a href="data/attachment/baby/{$result['file_1']}">下载</a><!--{/if}--></td><td></td></tr><!--{/if}-->
<!--{if $result['file_2']!=""}--><tr><td><b class="lbt">寻亲委托书：</b><!--{if !empty($result['file_2'])}--><a href="data/attachment/baby/{$result['file_2']}">下载</a><!--{/if}--></td><td></td></tr><!--{/if}-->
<!--{if $result['file_3']!=""}--><tr><td><b class="lbt">DNA数据：</b><!--{if !empty($result['file_3'])}--><a href="data/attachment/baby/{$result['file_3']}">下载</a><!--{/if}--></td><td></td></tr><!--{/if}-->
