<div>
<div class="sctn20_1">
	<div class="sctn20_1_1">
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_2" style="padding-top:0">用户中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
              <li><a href="babyCenter.php?mod=follow">我的关注</a></li>
			  <li><a href="babyCenter.php?mod=profile">资料修改</a></li>
              <li><a href="babyCenter.php?mod=profile&action=avatar&step=2">头像修改</a></li>
			  <!--{if $mygid==1}-->
			  <!--{/if}-->
              <li><a href="babyCenter.php?mod=suggestion" style="border-bottom:0;">意见建议</a></li>
            </ul>
          </div>
        </div>
		<!--{if $mygid==0}-->
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_3" style="padding-top:0">志愿者中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
              <li><a href="baby.php?mod=volunteer_reg" style="border-bottom:0;">加入志愿者</a></li>
            </ul>
          </div>
        </div>
		
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_4">寻亲数据中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
              <li><a href="baby.php?mod=find">数据录入</a></li>
              <li><a href="babyCenter.php?mod=mydata" style="border-bottom:0;">我的数据</a></li>
            </ul>
          </div>
        </div>
		<!--
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_5">最新浏览数据</div>
          <div class="sctn20_1_1_1_7">(仅显示最近10项)</div>
          <div class="sctn20_1_1_1_6">
            <ul>
              <li><div><a href="#"><img src="../image/omleft.jpg" /></a></div></li>
              <li><div><a href="#"><img src="../image/omleft.jpg" /></a></div></li>
              <li><div><a href="#"><img src="../image/omleft.jpg" /></a></div></li>
              <li><div><a href="#"><img src="../image/omleft.jpg" /></a></div></li>
              <li><div><a href="#"><img src="../image/omleft.jpg" /></a></div></li>
              <li><div><a href="#"><img src="../image/omleft.jpg" /></a></div></li>
              <li><div><a href="#"><img src="../image/omleft.jpg" /></a></div></li>
              <li><div><a href="#"><img src="../image/omleft.jpg" /></a></div></li>
              <li><div><a href="#"><img src="../image/omleft.jpg" /></a></div></li>
              <li><div><a href="#"><img src="../image/omleft.jpg" /></a></div></li>
            </ul>
          </div>
        </div>
		-->
        <!--{/if}-->
		
		<!--{if $mygid==1}-->
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_3">志愿者中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
              <li><a href="babyCenter.php?mod=myqqgroup">所属志愿者群</a></li>
              <li><a href="baby.php?mod=group" style="border-bottom:0;">申请志愿者工作组</a></li>
             
            </ul>
          </div>
        </div>
		
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_4">寻亲数据中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
             
              <li><a href="baby.php?mod=find">数据录入</a></li>
              <li><a href="babyCenter.php?mod=mydata" style="border-bottom:0;">我的数据</a></li>
            </ul>
          </div>
        </div>
        <!--{/if}-->
		
		<!--{if $mygid==2}-->
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_3">志愿者中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
			<li><a href="babyCenter.php?mod=searchv">志愿者搜索</a></li>
              <li><a href="babyCenter.php?mod=myqqgroup" style="border-bottom:0;">所属志愿者群</a></li>
            </ul>
          </div>
        </div>
		
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_4">寻亲数据中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
            
              <li><a href="baby.php?mod=find">数据录入</a></li>
              <li><a href="babyCenter.php?mod=mydata" style="border-bottom:0;">我的数据</a></li>
            </ul>
          </div>
        </div>
        <!--{/if}-->
		
		<!--{if $mygid==4}-->
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_3">志愿者中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
            <li><a href="babyCenter.php?mod=managesuggestion">管理意见建议</a></li>
			<li><a href="babyCenter.php?mod=searchv">志愿者搜索</a></li>
			<li><a href="babyCenter.php?mod=check">审核志愿者</a></li>
			<li><a href="babyCenter.php?mod=manageg2">管理志愿者工作组</a></li>
			<li><a href="babyCenter.php?mod=checkgroup">审核工作组成员</a></li>
			<li><a href="babyCenter.php?mod=manageg">管理工作组成员</a></li>
              <li><a href="babyCenter.php?mod=managev">管理志愿者</a></li>
			   <li><a href="babyCenter.php?mod=manageqq" style="border-bottom:0;">管理志愿者群</a></li>
            </ul>
          </div>
        </div>
		
		  <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_4">工作中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
              
              
			  <li><a href="babyCenter.php?mod=managetv">管理相关视频</a></li>
			  <li><a href="babyCenter.php?mod=manageflash">管理首页幻灯</a></li>
			  
			  
			   <li><a href="babyCenter.php?mod=managelog">管理日志</a></li>
			   <li><a href="babyCenter.php?mod=manageinvite">生成邀请码</a></li>
			   <li><a href="babyCenter.php?mod=managesucess">管理成功案例</a></li>
              <li><a href="babyCenter.php?mod=managesuggestion" >管理意见建议</a></li>
			  <li><a href="babyCenter.php?mod=viewsug" >查看留言</a></li>
			   <li><a href="babyCenter.php?mod=viewsug2" >查看举报</a></li>
			    <li><a href="babyCenter.php?mod=managebaby">管理寻亲数据</a></li>
				<li><a href="babyCenter.php?mod=notice">管理公告</a></li>
				<li><a href="babyCenter.php?mod=link" style="border-bottom:0;">管理友情链接</a></li>
            </ul>
          </div>
        </div>
		
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_4">寻亲数据中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
              <li><a href="babyCenter.php?mod=checkbaby">审核寻亲数据</a></li>
			  <li><a href="babyCenter.php?mod=so">搜索数据</a></li>
			  <!-- <li><a href="babyCenter.php?mod=so&type=2">高级搜索</a></li>-->
              <li><a href="baby.php?mod=find">数据录入</a></li>
              <li><a href="babyCenter.php?mod=mydata" >我的数据</a></li>
			 
            </ul>
          </div>
        </div>
        <!--{/if}-->
		
		<!--{if $mygid==5}-->
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_3">志愿者中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
			<li><a href="babyCenter.php?mod=searchv" style="border-bottom:0;">志愿者搜索</a></li>
              
            </ul>
          </div>
        </div>
		
        <div class="sctn20_1_1_1">
          <div class="sctn20_1_1_1_4">工作中心</div>
          <div class="sctn20_1_1_1_1">
            <ul>
              
              <li><a href="babyCenter.php?mod=managesuggestion">管理意见建议</a></li>
				
				
				<li><a href="babyCenter.php?mod=managework">管理工作人员</a></li>
			  <li><a href="babyCenter.php?mod=managetv">管理相关视频</a></li>
			  <li><a href="babyCenter.php?mod=manageflash">管理首页幻灯</a></li>
			    <li><a href="babyCenter.php?mod=managesucess">管理成功案例</a></li>
			  <li><a href="babyCenter.php?mod=so">搜索数据</a></li>
			  <!-- <li><a href="babyCenter.php?mod=so&type=2">高级搜索</a></li>-->

			   <li><a href="babyCenter.php?mod=managelog">管理日志</a></li>
				<li><a href="babyCenter.php?mod=managev">管理志愿者</a></li>
				 <li><a href="babyCenter.php?mod=managebaby">管理寻亲数据</a></li>
				<li><a href="babyCenter.php?mod=notice">管理公告</a></li>
				<li><a href="babyCenter.php?mod=link" style="border-bottom:0;">管理友情链接</a></li>
				
				
            </ul>
          </div>
        </div>
        <!--{/if}-->
		
		<!--<div id="omcenter1"></div>-->
        <div style="width:180px;height:100px; float:left;">
        </div>
		</div>