<!--{subtemplate baby/head}-->
<link href="/css/style1.css" rel="stylesheet" type="text/css" />
    <!--personalcenter-->
    <!--{subtemplate babyCenter/left}-->
	
      <div id="yonghuzhongxin">
        <div class="omcenter" id="ti1">
          <div class="om_center">
            
			<div class="personalcenter_r_bot" id="ti1">
		
		<div id="personalcenter_r_top">
			  <ul>
                 <li><a href="#">邀请码</a></li>
             </ul>
		</div>
		<!--{eval $form->showList('审核志愿者',array('邀请码'),$babyList,$babyCount,'babyCenter.php?mod=check','babyCenter.php?mod=manageinvite',0,0,0);}-->	
      
		
		
         </div> 
        </div> </div> 
      </div>
    </div>
    <script>
	
	function ti(t){
	for(f=1;f<=2;f++){
	document.getElementById("ti"+f).style.display="none"
	document.getElementById("a"+f).style.background="url(image/button_bg.jpg) bottom no-repeat"
	document.getElementById("a"+f).style.color="#529F05"
	document.getElementById("a"+f).style.fontWeight=""
	}
	document.getElementById("ti"+t).style.display=""
	document.getElementById("a"+t).style.background="url(image/button_bga.jpg) no-repeat"
	document.getElementById("a"+t).style.color="#fff"
	document.getElementById("a"+t).style.fontWeight="bold"

	}	
	
	</script>
    
	
	<!--{subtemplate baby/foot}-->
