<!--{subtemplate baby/head}-->
<link href="/css/style1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.lbt{
 display: block;
  float: left;

width:210px;
}

</style>
    <!--personalcenter-->
    <!--{subtemplate babyCenter/left}-->
	
      <div id="yonghuzhongxin">
        <div class="omcenter" id="ti1">
          <div class="om_center">
            
			<div class="personalcenter_r_bot" id="ti1">
		
		
        <!--{if empty($do)}-->
		<div id="personalcenter_r_top">
			  <ul>
                 <li><a href="#">工作组管理</a></li>
             </ul>
		</div>
		<!--{eval $form->showList('审核志愿者',array('工作组','姓名','年龄','qq','qq群名','论坛用户名','手机'),$mydataList,$babyCount,'babyCenter.php?mod=manageg','babyCenter.php?mod=manageg',1,0,1,array('13%', '10%', '6%', '8%', '8%', '5%',));}-->	
       <!--{elseif $do=='view'}-->
	         <div id="personalcenter_r_top">
			  <ul>
                 <li><a href="#">查看工作组</a></li>
             </ul>
		</div><br/>
    
      	<table cellspacing="0" border="0" id="FormView1" style="border-collapse:collapse;">

		<tr>
		<td colspan="2">
       
            <img src="data/attachment/baby/$result['photo']">
			<div class="text">
            	<ul>        		 	
<li><b class="lbt">编号：</b>$result['id']</li>
<li><b class="lbt">工作组名称：</b>$result['type']</li>
<li><b class="lbt">姓名：</b>$result['name']</li>
<li><b class="lbt">性别：</b>$result['sex']</li>
<li><b class="lbt">年龄：</b>$result['age']</li>
<li><b class="lbt">qq：</b>$result['qq']</li>
<li><b class="lbt">qq群名称：</b>$result['qq_name']</li>
<li><b class="lbt">qq群号：</b>$result['qq_group']</li>
<li><b class="lbt">qq昵称：</b>$result['qq_nick_name']</li>
<li><b class="lbt">论坛账户：</b>$result['bbs_name']</li>
<li><b class="lbt">公司名：</b>$result['work_name']</li>
<li><b class="lbt">身份证号：</b>$result['idcard']</li>
<li><b class="lbt">职业：</b>$result['work']</li>
<li><b class="lbt">所在地：</b>$result['provice']</li>
<li><b class="lbt">地址：</b>$result['address']</li>
<li><b class="lbt">邮编：</b>$result['zipnum']</li>
<li><b class="lbt">手机号：</b>$result['moblie']</li>
<li><b class="lbt">电话：</b>$result['tel']</li>
<li><b class="lbt">email：</b>$result['email']</li>

<li><b class="lbt">是否方便打电话：</b>$result['is_tel']</li>
<li><b class="lbt">特长：</b>$result['tec']</li>
<li><b class="lbt">每天允许上网时间：</b>$result['nettime']</li>
<li style="height:60px;line-height:35px;"><b class="lbt">何时加入宝贝回家及通过何种途径了解到宝贝回家：</b>$result['how_get_baobei']</li>
<li style="height:60px;line-height:35px;"><b class="lbt">工作简历以及是否从事其他公益：</b>$result['work_intro']</li>
<li style="height:60px;line-height:35px;"><b class="lbt">简要谈谈成为地区群管理员后的工作思路及工作打算：</b>$result['plan']</li>
<li><b class="lbt">申请理由：</b>$result['ask_reson']</li>
<li><b class="lbt">对宝贝回家的建议及希望：</b>$result['hope']</li>
<li><b class="lbt">申请时间：</b>$result['regtime']</li>
             	</ul>          
       		 </div>

		 </td>
		</tr>
		</table>
		
		 <!--{elseif $do=='edit'}-->
	     
    <div id="personalcenter_r_top">
			  <ul>
                 <li><a href="#">编辑志愿者</a></li>
             </ul>
		</div>
      	   
			<div class="text">
         	<form enctype="multipart/form-data" action="" method="POST" id="form1" name="form1" target="show">
     <table width="100%">
	
		<tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>申请人姓名：</td>
            <td><input type="text" class="text_a" name="name" value="$result['name']" id="name"/>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>性别：</td>
            <td>男<input type="radio" name="sex" value="1" <!--{if $result['sex']==1}--> checked<!--{/if}-->> 女<input type="radio" name="sex" value="2" <!--{if $result['sex']==2}--> checked<!--{/if}-->>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>年龄：</td>
            <td><select name="age" value="$result['name']">$ageHtml</select></td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>申请人QQ号：</td>
            <td><input type="text" value="$result['qq']" class="text_a" name="qq" id="name"/>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>所在群名称：</td>
            <td><input type="text" value="$result['qq_name']" class="text_a" name="qq_name" id="name"/>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>所在QQ群号码：</td>
            <td><input type="text" value="$result['qq_group']" class="text_a" name="qq_group" id="name"/>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>志愿者群内昵称：</td>
            <td><input type="text" value="$result['qq_nick_name']"  class="text_a" name="qq_nick_name" id="name"/>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>论坛用户名：</td>
            <td><input type="text" value="$result['bbs_name']" class="text_a" name="bbs_name" id="name"/>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>工作单位：</td>
            <td><input type="text" value="$result['work_name']" class="text_a" name="work_name" id="name"/>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>身份证号：</td>
            <td><input type="text" value="$result['idcard']" class="text_a" name="idcard" id="name"/>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>职业：</td>
            <td><input type="text" value="$result['work']" class="text_a" name="work" id="name"/>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>所在地：</td>
            <td><select name="province"></select><select name="city"></select><select name="area"></select>　</td>
        <script src="js/PCASClass.js" type="text/javascript"></script>
            <script language="javascript" defer>
		new PCAS("province","city","area","$result['province']","$result['city']","$result['area']");
		</script>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>地址：</td>
            <td><input type="text" value="$result['address']" class="text_a" name="address" id="name"/>　</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>邮编：</td>
            <td><input type="text" value="$result['zipnum']" class="text_a" name="zipnum" id="name"/>　</td>
         </tr>
         
          <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>手机：</td>
            <td><input type="text" value="$result['moblie']" class="text_a" name="moblie" id="name"/>　</td>
         </tr>
         
          <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>电话：</td>
            <td><input type="text" value="$result['tel']" class="text_a" name="tel" id="name"/>　</td>
         </tr>
         
          <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>E-mail：</td>
            <td><input type="text" value="$result['email']" class="text_a" name="email" id="name"/>　</td>
         </tr>
         
           <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>是否方便打电话：</td>
            <td>是<input type="radio" name="is_tel" value="1" <!--{if $result['is_tel']==1}--> checked<!--{/if}-->> 否<input type="radio" name="is_tel" value="2" <!--{if $result['is_tel']==2}--> checked<!--{/if}-->>　</td>
         </tr>
         
          <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>特长：</td>
            <td><input type="text" value="$result['tec']" class="text_a" name="tec" id="name"/>　例：图文制作、文字编辑等</td>
         </tr>
         
          <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>每天允许上网时间：</td>
            <td><input type="text" value="$result['nettime']" class="text_a" name="nettime" id="name"/>　</td>
         </tr>
         
          <tr>
	 		<td style="vertical-align:top;"><span class="s1"><strong>　*&nbsp;</strong></span>何时加入宝贝回家<br/>及通过何种途径了解到宝贝回家：</td>
            <td><textarea name="how_get_baobei"rows=5 cols="30">$result['how_get_baobei']</textarea>
			</td>
         </tr>
         
         <tr>
	 		<td><span class="s1"><strong>　*&nbsp;</strong></span>申请理由</td>
            <td><input type="text" class="text_a" name="ask_reson" id="name" value="$result['ask_reson']"/></td>
         </tr>
         
          <tr>
	 		<td style="vertical-align:top;"><span class="s1"><strong>　*&nbsp;</strong></span>工作简历以及是否从事其他公益：</td>
            <td>
			<textarea name="work_intro"rows=5 cols="30">$result['work_intro']</textarea>
			</td>
         </tr>
         
          <tr>
	 		<td style="vertical-align:top;"><span class="s1"><strong>　*&nbsp;</strong></span>简要谈谈成为地区群<br/>管理员后的工作思路及工作打算：</td>
            <td>
			<textarea name="plan"rows=5 cols="30">$result['plan']</textarea></td>
         </tr>
         
          <tr>
	 		<td style="vertical-align:top;"><span class="s1"><strong>　*&nbsp;</strong></span>对宝贝回家的建议及希望：</td>
            <td><textarea name="hope"rows=5 cols="30">$result['hope']</textarea></td>
         </tr>
         
         
       
    	<tr>
        	<td colspan="2">
				<div id="bot">
					<input type="hidden" name="uid" value="$result['insert_uid']">
					<input type="submit" class="sctn21_1_3_1" value="修改" />
				</div>
             </td>
        </tr>
		</table>
		</form>       
       		 </div>

		
       <!--{/if}-->
		
		</div>	
				
          </div>
         
        </div>
        
      </div>
    </div>
    <script>
	
	function ti(t){
	for(f=1;f<=2;f++){
	document.getElementById("ti"+f).style.display="none"
	document.getElementById("a"+f).style.background="url(image/button_bg.jpg) bottom no-repeat"
	document.getElementById("a"+f).style.color="#529F05"
	document.getElementById("a"+f).style.fontWeight=""
	}
	document.getElementById("ti"+t).style.display=""
	document.getElementById("a"+t).style.background="url(image/button_bga.jpg) no-repeat"
	document.getElementById("a"+t).style.color="#fff"
	document.getElementById("a"+t).style.fontWeight="bold"

	}	
	
	</script>
    
	
	<!--{subtemplate baby/foot}-->
