<!--{subtemplate baby/head}-->
<!--personalcenter-->
<!--{subtemplate babyCenter/left}-->
<div class="sctn20_1_2">
<div class="sctn20_1_2_2">
<div class="sctn20_1_2_2_2">
<div class="sctn20_1_2_2_2_1">
<ul><li><a href="#" id="a1">我的意见</a></li></ul>
</div>
</div>
<div class="sctn20_1_2_2_2">
	
    <!--{if empty($list)}-->
	<div style="margin:10px auto;color:#666;">暂时没有数据</div>
	<!--{/if}-->

    <!--{loop $list $k $v}-->
    <div id="uc_commend">
    <ul>
    <li id="uc_commend_1">
    <li id="uc_commend_2">建议内容：
    <li id="uc_commend_3">会员：
    <li id="uc_commend_4">$v['username']
    <li id="uc_commend_5">$v['inserttime']
    <li id="uc_commend_6"> 
    <li id="uc_commend_7">$v['message'] 
    <!--{loop $v['list'] $k1 $v1}-->
    <li id="uc_commend_8">
    <li id="uc_commend_2">$v1['username']回复：
    <li id="uc_commend_3">
    <li id="uc_commend_4">
    <li id="uc_commend_5">$v1['inserttime']
    <li id="uc_commend_6">
    <li id="uc_commend_7">$v1['message']
    <!--{/loop}-->
    <li id="uc_commend_9"> 
    <li id="uc_commend_10"><a href="babyCenter.php?mod=suggestion&do=reply&id=$v['id']#reply"><img src="image/d_login16.gif" width="67" height="23" border="0"/></a>
    </ul>
    </div>	
    <!--{/loop}-->	
</div>
<div class="sctn20_1_2_2_2">
	<div class="pe-page2">$multi</div>
</div>
<div class="sctn20_1_2_2_2">
    <div id="uc_commend_16">
    <form action="" method="POST" target="show">
    <ul>
    <li id="uc_commend_11"><a name="reply"><!--{if $pid}-->发表回复：<!--{else}-->发表建议：<!--{/if}--></a>
    <li id="uc_commend_12"><textarea cols="60" rows="5" name="message"></textarea>
    <div><font color="#FF0000">*</font>输入文字不能少于5个字符</div>
    <!--<li id="uc_commend_13">-->
<div><input name="submit2" type="submit" value="提交" class="sctn21_1_3_1" style=" margin: 15px auto auto 1px;"  /></div><input type="hidden" value="$pid" name="pid">
    </ul>
    </form>  
    </div>
</div>
<div class="sctn20_1_2_2_2">
	<div style=" width:150px; height:200px; float:left;"></div>
</div>
</div>   
</div>
<div style="clear: both;"></div>
</div>
<!--{subtemplate baby/foot}-->