<!--{subtemplate baby/head}--> 
<!--content-->
<link href="css/style1.css" rel="stylesheet" type="text/css" />

<div style="width:970px; height:1200px; margin:10px auto; background:url(../image/main_bg1.png) bottom no-repeat #FFF;">

<div style="width:970px; margin:10px 0px auto;">
    <div class="main_title" style="float:none; margin:0; padding-left:200px">
    <img src="image/icon.gif" width="51" height="43" align="top" /> 关于我们 
    </div> 
</div>
<div style="width:970px; margin:0 auto;">
<div style="width:200px; float:left; margin-left:5px;">
    <div id="con-left" >
    <br /><br />
    <span><a href="image/fr_big.jpg" target="_blank"><img src="image/honor.jpg" width="180" align="middle" /></a></span>
    <br /><br /><br />
    <span><a href="image/fr1_big.jpg" target="_blank"><img src="image/honor1.jpg" width="180" align="middle" /></a></span> 
    </div>
</div>
<div style="width:750px; float:right; margin-right:5px;">
    <br /><br />
        <div id="r-con-top"></div>
        <div id="r-con-cen">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;岁月稀释不了亲情的血，距离分不开相拥的心，风雨挡不住寻亲的脚步，山河拦不断团圆的信念。</p><br/>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;宝贝走了，悄悄的，默默的，像天边的流星，飘流到海角，滑落到天边。爸爸的牵挂好多好多，妈妈的思念好苦好苦，为了找回宝贝，爸爸不惧风霜雪雨，妈妈不惜倾家荡产，可父母的力量终究是有限的，绝大多数的家庭至今仍没找到自己的宝贝，那种断肠碎心的思念，那种撕肝裂胆的痛楚，至今仍在折磨着宝贝的亲人，折磨着幼小无助的孩子，同样也在折磨着我们——一直关注着失踪儿童的志愿者。
        <br /> 我们一直想为宝贝做点事情，因此我们开办了这个《宝贝回家寻子网》，希望这个网站能为寻找这些失踪的宝贝提供帮助。</p><br/> 
        <p>&nbsp;&nbsp;&nbsp;&nbsp;《宝贝回家寻子网》是隶属于宝贝回家志愿者协会的公益性寻人网站，宝贝回家志愿者协会是关爱儿童的各界爱心人士自愿参加的民间志愿者组织，已在民政部门正式注册，是独具法人资格的地方性非营利社会公益团体。本协会的宗旨是：关爱儿童，共筑和谐。本协会成员将严格遵守国家法律法规，为失踪儿童家长提供免费的寻人帮助，帮助走失、被拐、被遗弃儿童寻找亲人，帮助因各种原因流浪、乞讨、卖艺儿童回归正常生活。《宝贝回家寻子网》已按相关规定在公安局、信息产业部完成了备案。</p><br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;宝贝回家寻子网》的主要宗旨是为帮助寻找失踪儿童及一些流浪乞讨的孩子找家，为孩子家长及志愿者提供一个信息沟通的平台。因为我们发现国内现已自发地形成了几个区域性的寻子大联盟，但是联盟成员之间的信息交流并不是很畅通，在寻找孩子的过程中，每个家庭都掌握着不少孩子的信息，而这些信息可能对于其它的寻亲家庭来说是极其重要的，但是由于没有相应的渠道反馈给所有失踪或被拐儿童的家长，可能使一些家庭失去了与孩子相认的机会。因此我们希望所有失踪儿童家长都能把自己掌握的相关信息发送到我们的寻人网站。目前，我们的宝贝回家志愿者已遍布全国，北京、上海、广东、四川等地都有了宝贝回家的志愿者组织，各个志愿者组织都在积极地收集着有关失踪及流浪儿童的各种信息，希望各位家长与志愿者能定期地与当地的福利院、救助站联系，把他们收留的孩子资料传给我们；另外，现在街上的流浪乞讨儿童很多，这些儿童中可能就有我们要寻找的孩子，因此我们希望所有的爱心人士都能行动起来，在您旅游、逛街、探亲、访友之时，拿起您的手机、相机，把您遇到的流浪乞讨儿童拍下来上传到我们的网站，也许您的举手之劳就可以让这些失散家庭得以团圆，您的善举就会把流浪的宝贝送上回家之路。我们真诚的希望大家能用好这个信息平台，真正地做到信息共享，也实现大家的共同愿望——宝贝回家！</p><br/>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;我们正在招募全国各地的志愿者，同时，我们希望每个失踪孩子的亲人也都成为我们网站的志愿者。当您得到一些无法确定的有关孩子的线索时，我们可以通过当地的志愿者为您核实线索的真实性，这样也可以节约您的时间与费用，提高寻找孩子的效率。</p><br/>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;由于我们是国内唯一的专门面对未成年人的公益寻人网站，我们的一些活动还处于探索阶段，所以希望大家能给我们提出更好的建议，使我们的网站能最大地发挥作用，使那些丢失孩子的家庭早日得以团圆。</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;《宝贝回家寻子网》网站郑重声明：由于社会上的各类骗子比较多，希望各位家长提高警惕，对各种以提供线索为名索要报酬的人要加强防范，不要轻信他人以免给您造成损失，宝贝回家志愿者为家长提供的所有寻人服务均是免费。本网站不保证寻子家长酬金承诺的有效性，知情人如需要有偿提供线索，请亲自与寻子家长联系确认，本网站对由此造成的经济纠纷概不负责。<p> <br />
        <div id="renyuan">
            <div id="renyuan_botc">
            <table width="750" align="center" border="0">
            <tr>
            <!--<td><a class=prev id=J_prev href="javascript:void(0);"><img src="image/left.jpg" /></a></td>-->
            <td align="center" valign="middle"><span><img src="image/aboutus.jpg" /><br/>理事长：张宝艳(专职)</span></td>
            <td align="center" valign="middle"><span><img src="image/aboutus_1.jpg" /><br/>副理事长：秦艳友(兼职)</span></td>
            <td align="center" valign="middle"><span><img src="image/aboutus_2.jpg" /><br/>副理事长：张群(兼职)</span></td>
            <td><a  id=J_next href="javascript:void(0);"><!--<img src="image/right.jpg" />--></a></td>
            </tr>
            </table>
            </div>
            <!--<SCRIPT type=text/javascript>
            var D=YAHOO.util.Dom, E=YAHOO.util.Event;
            KISSY().use("*", function(S) {
            var el = D.get('J_slide'),
            activeIndex = parseInt(el.getAttribute('data-active-index')) || 0;
            var carousel = new S.Carousel(el, {
            hasTriggers: false,
            navCls: 'ks-switchable-nav',
            contentCls: 'ks-switchable-content',
            activeTriggerCls: 'current',
            effect: "scrollx",
            steps:6,
            viewSize: [1066],
            activeIndex: activeIndex
            });
            E.on('J_prev', 'click', carousel.prev, carousel, true);
            E.on('J_next', 'click', carousel.next, carousel, true);
            });
            KISSY().use("*", function(S) {
            var el = D.get('J_shoppingGuide');
            if(!el){
            return;
            }
            var	activeIndex = parseInt(el.getAttribute('data-active-index')) || 0;
            var carousel = new S.Carousel(el, {
            navCls: 'ks-switchable-nav',
            contentCls: 'ks-switchable-content',
            activeTriggerCls: 'current',
            effect: "scrollx",
            steps: 6,
            viewSize: [1066],
            activeIndex: activeIndex
            });
            E.on('J_shoppingGuidePrev', 'click', carousel.prev, carousel, true);
            E.on('J_shoppingGuideNext', 'click', carousel.next, carousel, true);
            });
            </SCRIPT>-->
            </div>
        </div>
        <div id="r-con-btm"></div>
</div>
</div>
</div>




<!--    
<div id="logina">
<div id="login_top">
<ul>
<li class="lia">1.阅读注册说明</li>
<li class="li">2.填写登记信息</li>
<li class="lib">3.完成注册</li>
</ul>
</div>
<div id="login_bot">
<img src="image/Successa.jpg" />
</div>
</div>-->
<!--conttentend-->
<!--{subtemplate baby/foot}-->