<!--{subtemplate baby/head}-->



<!--content-->

 
<div class="sctn21_1">
  <div class="sctn21_1_1">
    <div class="sctn21_1_1_1"><img src="image/icon.gif" width="51" height="43" align="top" /> 志愿者工作组申请</div>
  </div>
  <div class="sctn21_1_2">
    <ul>
      <li class="sctn21_1_2_1">1.sctn21_1_2_1</li>
      <li>2.填写信息登记</li>
      <li>3.上传照片</li>
      <li>4.完成登记</li>
    </ul>
  </div>
       

       <div class="main_step_text">

   		 

         <div id="login_2">

           <ul>

             <li>

               <div><a href="baby.php?mod=group&type=1&step=2">一般工作组</a> &nbsp;&nbsp;&nbsp;&nbsp; </div>

             </li>

             <li>

               <div><a href="baby.php?mod=group&type=1&step=2">一般工作组</a> &nbsp;&nbsp;&nbsp;&nbsp; </div>

             </li>

             <li>

               <div><a href="baby.php?mod=group&type=1&step=2">一般工作组</a> &nbsp;&nbsp;&nbsp;&nbsp; </div>

             </li>

             

             

             <li>

               <div><a href="baby.php?mod=group&type=1&step=2">一般工作组</a> &nbsp;&nbsp;&nbsp;&nbsp; </div>

             </li>

           </ul>

         </div>

       </div>

       


</div>
 <div class="sctn21_2"> &nbsp;</div>

    <!--conttentend-->

    

    

	

<!--{subtemplate baby/foot}-->