<!--{subtemplate baby/head}-->

 

<!--content-->

  
<div class="sctn21_1">
  <div class="sctn21_1_1">
    <div class="sctn21_1_1_1"><img src="image/icon.gif" width="51" height="43" align="top" /> 寻亲数据库登记</div>
  </div>
  <div class="sctn21_1_2">
    <ul>
      <li>1.选择登记类型</li>
      <li>2.填写登记信息</li>
      <li>3.上传照片</li>
      <li  class="sctn21_1_2_2">4.完成登记</li>
    </ul>
  </div>
<div class="sctn21_1_5">
    
  </div>
  <div class="main_step_text" style="padding-bottom:200px">
     	<div class="login_su"><div class="zhucechenggong">提交成功</div>
        	<div class="login_page"><font color="#6E6E6E">接下来需要工作人员审核,请耐心等待,您可以在<a href="babyCenter.php"><font color="blue"><b><u>用户中心</u></b></font></a>查看审核状态</font></font></div>
        	<div class="login_page2"></div>
        
        </div>
     
     </div>
</div>

</div>
<div class="sctn21_2"> &nbsp;</div>

 <!--conttentend-->

 

 

<!--{subtemplate baby/foot}-->