<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<title>$navtitle  宝贝回家寻子网 关爱儿童我们共同的责任</title>
<meta name="keywords" content="宝贝,回家,宝贝回家,寻子,志愿者,免费,公益,寻人,寻亲网,寻子网,志愿者协会,协会,宝宝回家,回家网,寶貝回家,亲子网,寶貝回家尋子網,寻亲宝贝,寻找宝贝回家,联盟,公益寻子网,张宝艳,1840533" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/global.css" rel="stylesheet" type="text/css" />
<script language="javascript"> 
<!--  
window.onerror = function()
{
 //    event.returnValue = true;
}
//--> 
</script>
<script type=text/javascript src="js/jquery-1.4a2.min.js"></script>
<SCRIPT type=text/javascript src="js/jquery-1.4.4.min.js"></SCRIPT>
<SCRIPT type=text/javascript src="js/jquery-1.5.1.min.js"></SCRIPT>
<SCRIPT type=text/javascript src="js/jquery.KinSlideshow-1.1.js"></SCRIPT> 
<SCRIPT type=text/javascript src="js/formValidator-4.0.1.js" charset=UTF-8></SCRIPT>
<SCRIPT type=text/javascript src="js/formValidatorRegex.js" charset=UTF-8></SCRIPT>
<SCRIPT type=text/javascript src="js/swfobject_source.js"></SCRIPT>
<SCRIPT type=text/javascript src="js/tipswindown.js"></SCRIPT>
<SCRIPT type=text/javascript src="js/tbhb.js"></SCRIPT>
<SCRIPT type=text/javascript src="js/popImg.js"></SCRIPT>
<script type="text/javascript">
$(function(){
	$("#KinSlideshow").KinSlideshow();
})
</script>
<script type="text/javascript">
	$(function(){
		$("#kefu_a").toggle(
		  function () {
			$("#kf_img").attr("src","image/jian.jpg");
			$("#kefu_b").show();
		  },
		  function () {
			$("#kf_img").attr("src","image/jia.jpg");
			$("#kefu_b").hide();
		  }
		)
	})
</script>
<style>
.cimg{
line-height:150px;
height:150px;
vertical-align:middle;
}

</style>
</head>

<body onload="MM_preloadImages('111')">
<!--[if lte IE 6]>
<div id="ie6div" style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 35px; position: relative;line-height:35px;vertical-align:middle;'>    
<div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'>
<a href='#' onclick='javascript:closediv(); return false;'>关闭</a>
</div>    
<div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>      
<div style='width: 75px; float: left;'><img src='/image/waring.png' alt='Warning!'/></div>      
<div style='width: 275px; float: left; font-family: Arial, sans-serif;'>               
<div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>由于IE6的安全及对互联网标准的支持问题，建议您升级您的浏览器，已达到更好的浏览效果！</div>    
</div>      
<div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src="/image/ff.png" alt="firefox" title="firefox"/></a></div>      
<div style='width: 75px; float: left;'><a href='http://windows.microsoft.com/zh-CN/internet-explorer/products/ie/home' target='_blank'><img src="/image/ie.png" alt="ie" title="ie"/></a></div>      
<div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src="/image/safari.png" alt="safari" title="safari"/></a></div>      
<div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src="/image/chrome.png" alt="chrome" title="chrome"/></a></div>   
</div>  
</div>
<script type="text/javascript">
function closediv(){
	document.getElementById('ie6div').style.display="none";
}
</script>
<![endif]-->

<div class="box">
<iframe name="show" width="0px" height="0px" style="display:none"></iframe>
<div class="header">
    <div class="header_logo"><a href="/"><img src="image/baby_header_logo.jpg" width="240" height="87" border="0"/></a></div>
</div>
<div class="nav-main">
    <div class="nav-main_channel">
    <ul id="nav-main">
        <li><a href="/portal.php">首页</a></li>
        <li><a href="/baby.php?mod=find">寻亲登记</a>
        <ul>
        <li><a href="/baby.php?mod=find&type=1&step=2">家寻宝贝</a></li>
        <li><a href="/baby.php?mod=find&type=2&step=2" >宝贝寻家</a></li>
        <li><a href="/baby.php?mod=find&type=3&step=2">流浪乞讨</a></li>
        <li><a href="/baby.php?mod=find&type=4&step=2">其他寻人</a></li>
        <li><a href="/baby.php?mod=find&type=5&step=2">海外寻亲</a></li>
        </ul>
        </li>
        <li><a href="/baby.php?mod=volunteer_reg">志愿者登记</a></li>
        <li><a href="/forum.php?mod=forumdisplay&fid=182">社会新闻</a></li>
        <li><a href="/tv.php">相关视频</a></li>
        <li><a href="/forum.php?mod=forumdisplay&fid=203">紧急求助</a></li>
        <li><a href="/forum.php">论坛</a></li>
    </ul>
	<script type=text/javascript>
    function menuFix() {
    var sfEls = document.getElementById("nav-main").getElementsByTagName("li");
    for (var i=0; i<sfEls.length; i++) {
    sfEls[i].onmouseover=function() {
    this.className+=(this.className.length>0? " ": "") + "sfhover";
    }
    sfEls[i].onMouseDown=function() {
    this.className+=(this.className.length>0? " ": "") + "sfhover";
    }
    sfEls[i].onMouseUp=function() {
    this.className+=(this.className.length>0? " ": "") + "sfhover";
    }
    sfEls[i].onmouseout=function() {
    this.className=this.className.replace(new RegExp("( ?|^)sfhover\\b"),
    
    "");
    }
    }
    }
    window.onload=menuFix;
    </script>
    </div> 
	<!--{if !$_G['uid']}-->
    <div class="nav-main_channel2">
    <span>
    <a href="baby.php?mod=reg" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','image/baby_nav_main_dl2.gif',1)">
    <img src="image/baby_nav_main_zc.jpg" alt="" name="Image5" border="0" id="Image5" />
    </a>
    </span>
    <span>
    <a href="baby.php?mod=login" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','image/baby_nav_main_dl1.gif',1)">
    <img src="image/baby_nav_main_dl.jpg" alt="" name="Image6" border="0" id="Image6" />
    </a>
    </span>
    </div>
	<!--{else}-->
    <div class="nav-main_channel3">
    <div class="nav-main_channel_lo">
	<span style="color:#333333;font-family:宋体; margin-top:4px;">&nbsp;&nbsp;hi，</span>
    <span style="color:#4A7E18;display:block;width:60px; padding-right:10px;overflow:hidden;font-family:宋体; margin-top:4px;">$_G['username']！&nbsp;&nbsp;&nbsp;</span>
    <span style="color:#4A7E18; font-family:宋体; margin-top:7px; font-size:8px;">>></span>
    <span style="color:#4A7E18; font-family:宋体; margin-top:4px;"><a style="color:#4A7E18; font-family:宋体; margin-top:4px;" href="babyCenter.php">个人中心</a>&nbsp;&nbsp;</span>
    <span style="color:#8A8A8A; font-family:宋体; margin-top:7px; font-size:8px;">>></span>
    <span style="color:#8A8A8A; font-family:宋体; margin-top:4px;"><a style="color:#8A8A8A; font-family:宋体; margin-top:4px;" href="member.php?mod=logging&action=logout&formhash={FORMHASH}">退出</a></span>
    </div>
    </div>
	<!--{/if}-->
    <div class="nav-main_report">
        <div class="nav-main_report1">
        <span><a href=""><img src="image/baby_nav_main_report_lb.gif" width="25" height="25" border="0"/></a></span>
        </div> 
        <div class="nav-main_report2">
            <div id="nav-main_scrolling">
            <ul id="nav-main_scrolling_ul">
            <!--{loop $noticeList $v}-->
            <li><a target="_blank" href="baby.php?mod=notice&id=$v['id']">$v['title']</a></li>
            <!--{/loop}-->
            <!--{loop $noticeList $v}-->
            <li><a target="_blank" href="baby.php?mod=notice&id=$v['id']">$v['title']</a></li>
            <!--{/loop}-->
            </ul>
            <ul id="nav-main_scrolling_ul">
            <!--{loop $noticeList $v}-->
            <li><a target="_blank" href="baby.php?mod=notice&id=$v['id']">$v['title']</a></li>
            <!--{/loop}-->
            </ul>
            <script type="text/javascript"> 
            var Marquee=function(A,B,C,D,E,F){
				var $=function (id){return document.getElementById(id)},Y=+!!F;
				(A=$(A)).appendChild((B=$(B)).cloneNode(true));
				(function (){
					var m=A.scrollTop%C?(E||0):D;
					A.scrollTop=[0,B.offsetHeight][Y]==A.scrollTop?[B.offsetHeight-1,1][Y]:(A.scrollTop+[-1,1][Y]);
					setTimeout(arguments.callee,m);	
				})()
				return arguments.callee;
            }
            Marquee('nav-main_scrolling','nav-main_scrolling_ul',24,8000,30,1);
            </script>
            </div>
        </div> 
        <form action="baby.php" method="GET">
        <div class="nav-main_report3">
        <span>
        <input type="hidden" name="mod" value="so">
        <input type="hidden" name="type" value="1">
        <input type="text" name='key' id="query" value="$key"/>
        </span>
        </div> 
        <div class="nav-main_report4">
        <span>
        <input id=subn value="" type="submit" class="scorll_subn" style="cursor:pointer;"/>
        <!--<a href=""><img src="image/baby_nav_main_report_ss.jpg" width="68" height="29" border="0"/></a>-->
        </span>
        <span>
        <a href="baby.php?mod=so&type=2" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','image/gaojisearch1.jpg',1)">
        <img src="image/gaojisearch.jpg" alt="" name="Image7" border="0" id="Image7" />
        </a> 
        </span>
		<script type="text/javascript">
        function MM_swapImgRestore() { //v3.0
          var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
        }
        function MM_preloadImages() { //v3.0
          var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
            var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
            if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
        }
        
        function MM_findObj(n, d) { //v4.01
          var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
            d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
          if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
          for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
          if(!x && d.getElementById) x=d.getElementById(n); return x;
        }
        
        function MM_swapImage() { //v3.0
          var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
           if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
        }
        </script>
        </div>
		</form>
		<script type="text/javascript" src="/js/auto/jquery.autocomplete-min.js"></script>
	    <script type="text/javascript">
		var options, a;
		jQuery(function(){
		  options = { serviceUrl:'look.php' };
		  a = $('#query').autocomplete(options);
		});
		</script> 
    </div> 
</div>

<div class="page-space">&nbsp;</div>