<!--{subtemplate baby/head}-->

<!--content-->
 
	<div class="main">
    
    
       <div class="main_title"><img src="image/icon.gif" width="51" height="43" align="top" />站内通知</div>
        
       <div class="main_step_text">
   		
         
         <div id="login_2">
         <h3>$result['title']</h3>
         <div>$result['message']</div>
         <p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
         </div>
       </div>
       
      </div>
        
    </div>
    
    <!--conttentend-->
    
    
	
<!--{subtemplate baby/foot}-->