<!--{subtemplate baby/head}-->
<!--content-->
<div class="sctn21_1">
<div class="sctn21_1_5">
  <div class="sctn21_1_1_1"><img src="image/icon.gif" width="51" height="43" align="top" />$result['title']</div>
</div>
  <div style="margin:0 auto; height:50px;"></div>
  <div class="main_cube1">&nbsp;</div>
  <div class="main_cube">
    <div class="main_step" style="position:relative; line-height:40px; font-size:14px; font-weight:bold">$result['title']</div>
    <div class="main_step_text" style="position:relative; width:660px; margin:20px auto; margin-bottom:0px; height:280px;">
      <div id="login_2" style="padding-bottom:20px"><p>$result['message']</p></div>
    </div>
  </div>
  <div class="main_cube2">&nbsp;</div>
  <div style="margin:0 auto; height:50px;"></div>
<!-- </div></div>--> 
</div>
<div class="sctn21_1_9">&nbsp;</div>

<div class="sctn21_2"> &nbsp;</div>
<!--conttentend--> 
<!--{subtemplate baby/foot}-->