<!--{subtemplate baby/head}-->



<!--content-->

<div class="sctn21_1">
  <div class="sctn21_1_5">
    <div class="sctn21_1_1_1"><img src="image/icon.gif" width="51" height="43" align="top" /> 用户注册 </div>       

   
	</div>
    <div class="main_cube" style="height:600px;margin:0;width: 968px;">        

       

       

       <div class="main_step_text" style="height:600px;position:relative; margin:0 auto; padding:0px 0 0;">

       <div id="login_9" style="height:600px;float:none; width:968px; margin:0px auto; font-size:14px">

	      <div id="lianxiren" style="height:600px; width:auto">

	        <div id="login_botb2" style="line-height:45px; height:600px;">

			

	        <iframe name="reg" src='member.php?mod=register.php&stype=baby' scrolling="no" width="760" height="600" frameborder="0"></iframe>

			<script>

			window.iframes["reg"].scrollTo(50,400);

			</script>

	        </div>

	      </div>

        </div>

         

       </div>

       

       <div class="main_button" style="position:relative;"></div>

    </div>



    <div class="pe-page" style="width:970px;">

		  

		  $multi

		  

   </div>

    <div style="margin:0 auto; height:50px; width:970px;"></div>

</div>
<div class="sctn21_1_9">&nbsp;</div>

<div class="sctn21_2"> &nbsp;</div>
<!--{subtemplate baby/foot}-->