<!--{subtemplate baby/head}-->

 

<!--content-->

<div class="sctn21_1">
  <div class="sctn21_1_5"> 
  </div>
  <div class="main_step_text" style="padding-bottom:200px">
    <div class="login_su">
      <div class="zhucechenggong_stcn">$message</div>
      <div class="login_page_stcn"><a href="/portal.php"><font color="#CCCCCC">&gt;&gt; 返回首页</font></a></div>
    </div>
  </div>
</div>
</div>
<div class="sctn21_2"> &nbsp;</div




    ><!--conttentend-->



 

 

<!--{subtemplate baby/foot}-->