<!--{subtemplate baby/head}-->



<!--content-->
<div class="sctn21_1">

<div class="sctn21_1_5">
    <div class="sctn21_1_1_1"><img src="image/icon.gif" width="51" height="43" align="top" />  给管理员留言 </div>       
</div>
<div style="margin:0 auto; height:50px;"></div>

<div class="main_cube2"><img src="image/cube1.gif" width="800" height="15" /></div>

<div class="main_cube">        

    <div class="main_step" style="position:relative; height:0; border:none">

    <!-- <ul>

       <li id="select">1.选择登记类型</li>

       <li id="normal">2.填写信息登记</li>

       <li id="normal">3.上传照片</li>

       <li id="normal">4.完成登记</li>

     </ul>-->

    </div>

    <div class="main_step_text" style="position:relative; margin-top:0">

        <div class="main_text_left_2"><br />

            <form action="" method="POST" target="show">

            <table width="100%%" border="0" cellspacing="0" cellpadding="0">

            <tr>

              <td width="40%" align="right"><p>留言人：</p></td>

              <td width="60%" align="left"><input type="text" name="name" class="text_a" /></td>

            </tr>

             

            <tr>

              <td align="right"><span class="s1"><strong>&nbsp;</strong></span>联系电话：</td>

              <td align="left"><input type="text" class="text_a" name="tel"/>

                <br /></td>

            </tr>

            <tr>

              <td align="right"><span class="s1"><strong>&nbsp;</strong></span>QQ：</td>

              <td align="left"><input type="text" class="text_a" name="qq"/>

                <br /></td>

            </tr>

            <tr>

              <td align="right"><p><span class="s1"><strong> </strong></span>电子邮箱：</p></td>

              <td align="left"><input type="text" class="text_a" name="email"/></td>

            </tr>

            <tr>

              <td align="right"><p><span class="s1"><strong>　</strong></span>留言内容：</p></td>

              <td align="left"><textarea cols="30" rows="5" name="message"></textarea></td>

            </tr>

             <tr>

              <td align="right" height="60px"><p><span class="s1"><strong>　</strong></span>验证码：</p></td>

              <td align="left" style="line-height:60px"><input type="text" style="height:25px; width:70px; border:1px solid #c5c5c5; background:#fff; line-height:30px;font-size:18px; margin-right:10px;"  maxlength="4" name="secode"><img id="secode2" src="secode.php" alt="看不清楚，请点击刷新" onclick="updatesec()"><span style="font-family:宋体; padding-left:10px; font-size:12px; color:#ff0000">看不清楚，请点击刷新</span></td>

            </tr>

            <tr>

              <td align="CENTER"  colspan="2">&nbsp;&nbsp;<input name="login" type="submit" value="" style="background:url(image/button.gif); margin-top:30px; width:93px; height:28px; color:#FFF; font-size:15px; font-family:黑体; font-weight:bold; border:0px; margin:auto;" /></td>

            </tr>

            <script>

            function updatesec(){

                var cnum=Math.ceil(Math.random()*10);

                 $("#secode2").attr("src",'secode.php?sid='+cnum); 

            

            }

            </script>

            </table>

            </form>

        </div>

    </div>

    <div class="main_button" style="position:relative;"><!--<input name="" type="button" value="下一步" style="background:url(image/button.jpg); width:92px; height:27px; color:#FFF; font-size:15px; font-family:黑体; font-weight:bold; border:0px; margin:auto;cursor:pointer;" />--></div>

</div>

<div class="main_cube2"><img src="image/cube2.gif" width="800" height="15" /></div>

<div style="margin:0 auto; height:50px;"></div>

</div>

<div class="sctn21_1_9">&nbsp;</div>
<div class="sctn21_2"> &nbsp;</div>







    

    <!--conttentend-->

    

    

	

<!--{subtemplate baby/foot}-->