<!--{subtemplate baby/head}-->
<!--content-->

<div class="sctn21_1">
  <div class="sctn21_1_1">
    <div class="sctn21_1_1_1"><img src="image/icon.gif" width="51" height="43" align="top" /> 志愿者申请
  </div>
  </div>
  <div class="sctn21_1_2">
    <ul>
      <li class="sctn21_1_2_1">1.阅读注册说明</li>
      <li>2.填写信息登记</li>
      <li>3.设置头像</li>
      <li>4.完成登记</li>
    </ul>
  </div>
    <div class="main_step_text" style="position:relative;">
      <div id="login_2" style="float:none; margin:0 auto">
        <p align="center" style="font-size:20px; font-family:'微软雅黑'">志愿者登记说明</p>
        <p>尊敬的朋友：</p>
        <p>　　您好！欢迎光临宝贝回家寻子网！</p>
        <p>　　《宝贝回家寻子网》是隶属于宝贝回家志愿者协会的公益性寻人网站，宝贝回家志愿者协会是关爱儿童的各界爱心人士自愿参加的民间志愿者组织，已在民政部门正式注册，是独具法人资格的地方性非营利社会公益团体。本协会的宗旨是：关爱儿童，共筑和谐。本协会成员将严格遵守国家法律法规，为失踪儿童家长提供免费的寻人帮助，帮助走失、被拐、被遗弃儿童寻找亲人，帮助因各种原因流浪、乞讨、卖艺儿童回归正常生活。《宝贝回家寻子网》已按相关规定在公安局、信息产业部完成了备案。</p>
        <p>&nbsp;</p>
        <p>　　<strong>宝贝回家寻子网的诞生</strong></p>
        <p>　　宝贝走了，悄悄的，默默的，像天边的流星，飘流到海角，滑落到天边。爸爸的牵挂好多好多，妈妈的思念好苦好苦，为了找回宝贝，爸爸不惧风霜雪雨，妈妈不惜倾家荡产，可父母的力量终究是有限的，绝大多数的家庭至今仍没找到自己的宝贝，那种断肠碎心的思念，那种撕肝裂胆的痛楚，至今仍在折磨着宝贝的亲人，折磨着幼小无助的孩子，同样也在折磨着我们——一直关注着失踪儿童的志愿者。 我们一直想为宝贝做点事情，因此我们开办了这个《宝贝回家寻子网》，希望这个网站能为寻找这些失踪的宝贝提供帮助。</p>
        <p>&nbsp;</p>
        <p>　　<strong>如何成为志愿者</strong></p>
        <p> 　　作为志愿者：如果您平时上网条件便利、时间固定，并且不影响到您的生活和工作，那么您可以加入宝贝回家志愿者QQ群，进一步的参与志愿者工作。反之，如果您的情况与上述不符，那么只希望您可以经常关注我们这个网站，关注我们这个社会团体。您也可以选择登记注册志愿者，作为一名群外志愿者，当有需要求助时可以通过您留下的联系方式来向您求得帮助。而当您身边遇到一些类似情况时，您可以及时与我们联系。</p>
        <p>&nbsp;</p>
        <p>　　最后，感谢您的爱心及对我们的支持。如果您愿意加入到宝贝回家志愿者这个大家庭中来，请您填写一下登记表格，然后确认提交即可。</p>
        <p>　　谢谢，欢迎您的加入！</p>
        <p style="text-align:right;">宝贝回家寻子网<br/>
          http://baobeihuijia.com</p>
      </div>
    </div>
    <div class="main_button" style="position:relative;"><a href="baby.php?mod=volunteer_reg&step=2"><img src="/image/read.jpg"></a></div>
    <br />
    <br />
  </div>
</div>
</p>
</div>
</div>
<div class="sctn21_2"> &nbsp;</div>
<!--conttentend--> 
<!--{subtemplate baby/foot}--> 